* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
-- Backgroundda página: `#EAEAEA`;
- Background da receita: `#FFFFFF`;
- Títulos e subtítulos: `#1B1B1B`;
- Footer e legenda da imagem: `#8F8F8F`;
- Outros textos: `#39393A`;
}